.navLink {
    display: inline-block;
    margin-right: 1rem;
}

.navText {
    color: black;
    background-image: none;
    font-size: 24px;
    text-decoration: none;
    margin-left: 30px;
}

.navText:hover {
    color: #0D3B66;
    cursor: pointer;
    text-decoration: none;
}

.title {
    color: black;
    display: inline;
    position: absolute;
    top: 1.5em;
    left: 4%;
    opacity: 0.8;
    cursor: default;
}

.navRight {
    list-style: none;
    position: absolute;
    top: 3em;
    right: 5%;
}